/* body customization */
body {
    background-image: url('seashells.jpg');  /* image as background */
    background-size: cover;  /* makes the image cover the entire screen  */
    background-position: center;  /* centers the background image */
    display: flex; /* flex box layout */
    justify-content: center; /* centers the video horizontally */
    align-items: center;     /* centers the video vertically*/
    margin:0; /*removes default margin  */
    height: 100vh; /* uses full height of viewpoint */
}

/* video customization */
video {
    /*limits the video’s width  */
    max-width: 80%;
    max-height: 80%;
    /* height */
    height: 90%;
}
  